# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env
.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Test/coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/

# Other
*.sqlite3
*.db
*.bak
*.swp
*.swo